aniso8601==1.2.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
cov-core==1.15.0
coverage==4.4.1
dictknife==0.5.0
Flask==0.12.2
flask-marshmallow==0.8.0
Flask-RESTful==0.3.6
flask-restful-swagger==0.19
Flask-SQLAlchemy==2.2
idna==2.5
-e git+https://github.com/pwdyson/inflect.py@1c5bc7a9e7655492dbb394ccf9ce41b9fa580bf8#egg=inflect
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
logmatic-python==0.1.7
magicalimport==0.4.0
MarkupSafe==1.0
marshmallow==3.0.0b2
marshmallow-sqlalchemy==0.13.1
nose2==0.6.5
pkg-resources==0.0.0
prestring==0.4.9.1
psycopg2==2.7.1
python-dateutil==2.6.0
python-json-logger==0.1.7
pytz==2017.2
PyYAML==3.12
requests==2.18.1
six==1.10.0
SQLAlchemy==1.1.10
swagger-marshmallow-codegen==0.3.9
swagger-parser==1.0.0
swagger-spec-validator==2.1.0
urllib3==1.21.1
Werkzeug==0.12.2
